/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
@import "gridlex-vars";

[class*="#{$gl-grid-selector}"]{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$gl-gutter/2);
}
.#{$gl-col-selector},
[class*="#{$gl-col-selector}-"]{
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 ($gl-gutter/2) $gl-gutter;
}
.#{$gl-col-selector}{
  flex: 1 1 0%;
}
.#{$gl-grid-selector}.#{$gl-col-selector},
.#{$gl-grid-selector}[class*="#{$gl-col-selector}-"]{
  margin: 0;
  padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
// FOR GRID
[class*="#{$gl-grid-selector}-"]{
  &[class*="-column"] {
    flex-direction: column;
    > [class*="#{$gl-col-selector}-"] {
      flex-basis: auto;
    }
  }
// No spacing between cols : noGutter
  &[class*="-gutterless"]{
    margin: 0;
    > [class*="#{$gl-col-selector}"]{
      padding: 0;
    }
  }

// Horizontal alignment
  &[class*="-position-center"]{
    justify-content: center;
  }
  &[class*="-position-right"]{
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
  }
// Vertical alignment
  &[class*="-position-top"]{
    align-items: flex-start;
  }
  &[class*="-position-middle"]{
    align-items: center;
  }
  &[class*="-position-bottom"]{
    align-items: flex-end;
  }

// Orders
  &[class*="-reverse"]{
    flex-direction: row-reverse;
  }
  &[class*="-column-reverse"]{
    flex-direction: column-reverse;
  }

// Spaces between and around cols
  &[class*="-space-between"]{
    justify-content: space-between;
  }
  &[class*="-space-around"]{
    justify-content: space-around;
  }

// Equal heights columns
  &[class*="-equal-height"] > [class*="#{$gl-col-selector}"]{
    display: flex;
  }

  &[class*="-stretch-vertically"]{
    align-items: stretch;
  }
}

// FOR COL
[class*="#{$gl-col-selector}-"]{
  &[class*="-align-to-top"]{
    align-self: flex-start;
  }
  &[class*="-align-to-middle"]{
    align-self: center;
  }
  &[class*="-align-to-bottom"]{
    align-self: flex-end;
  }
  &[class*="-first"]{
    order: -1;
  }
  &[class*="-last"]{
    order: 1;
  }
  &[class*="-stretch-vertically"]{
    align-self: stretch;
  }
}

/************************
    GRID BY NUMBER
*************************/
@include makeGridByNumber(#{$gl-grid-selector});

@media #{$gl-lg}{
  @include makeGridByNumber(_lg);
}
@media #{$gl-md}{
  @include makeGridByNumber(_md);
}
@media #{$gl-sm}{
  @include makeGridByNumber(_sm);
}
@media #{$gl-xs}{
  @include makeGridByNumber(_xs);
}


/************************
    COLS SIZES
*************************/
@include makeCol(#{$gl-col-selector});
@include makeOff(off);

@media #{$gl-lg}{
  @include makeCol(_lg);
  @include makeOff(_lg);
}
@media #{$gl-md}{
  @include makeCol(_md);
  @include makeOff(_md);
}
@media #{$gl-sm}{
  @include makeCol(_sm);
  @include makeOff(_sm);
}
@media #{$gl-xs}{
  @include makeCol(_xs);
  @include makeOff(_xs);
}
